.home-parent{
    height: 87vh;
    font-family: 'Trykker', serif;
    .home-row{
        height:100%;
        .home-column {
            display: flex;
            text-align: center; 
            justify-content: center;
            align-items: center;
            border-right: solid;
            border-right-width: thin;
            .home-nav {
                font-family: 'Trykker', serif;
                a {
                    color: #000;
                }
                .home-nav-item {
                    margin: 1rem 0;
                }
            }
        }
        .home-results {
                display: flex;
                justify-content: center;
                .feed-content, .profile-content, .notif-content, .rec-content {
                    margin-top: 2rem;
                }
            }   
    }
}

.user-pic {
    width: 200px;
}
.example-div{
    height: 100px;
    .example-img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    } 
}
.example-overlay{
    display: flex;
    position: absolute;
    font-family: 'Simonetta';
    z-index: 2;
    bottom: 0;
    color: #000;
    right: 2%;
    background-color: rgba(255,255,255,.6);
    border-radius: 2px;
    text-align: right;
}
.user-col {
    align-self: center;
    text-align:center;
}

.prof-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .prof-name, .edit-prof {
        margin: 1rem 1rem;
    }
    .edit-prof {
        padding: 0 5px;
        font-size: .5rem;
        height: 30%;
        width: 100px;
        background-color: transparent;
        border-style: solid;
        border-width: thin;
    }
}

.prof-statistics {
    text-align: center;
    .prof-stats {
        font-size: 12px;
    }
    .stat {
        font-size: 1rem;
        font-family: 'Source Code Pro', monospace; 
        a {
            color: #000;
        }
    }
}

.profile-row {
    margin: 2rem 0;
    border-top: solid;
    border-top-width: thin;
        .profile-nav{
            padding: 1.5rem 0;
            border-bottom: solid;
            border-bottom-width: thin;
            .prof-nav-item {
                a {
                    color: #000;
                }
            }
        }
        .prof-content {
            margin-top: 1.5rem;
        }
}