.landing-bg {
    background-image: url('../../assets/images/louvre.jpg');
    height: 100vh;
    margin-top: -80px;
    filter: grayscale(1);
    background-size: auto 100%;
    background-position: center;
}