////////////////
// Fonts Used //
////////////////
// font-family: 'Simonetta', cursive;
// font-family: 'Source Code Pro', monospace;
// font-family: 'Spartan', sans-serif;
// font-family: 'Trykker', serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@import "./partials/navbar";
@import "./partials/landing";
@import "./partials/exhibit";
@import "./partials/home";
@import "./partials/search";
@import "./partials/form";